<%= render :partial => '/common_partial/admin_navbar'%>
<div class="adminWaChatContainer">
  <div class="chatOptions">
  </div>
  <div class="adminChatBox shadow-lg p-3 bg-white rounded overflow-auto">
    <%@messages.each do |msg|%>
      <br>
      <%if msg[:sent_by] == WhatsappMessage::ADMIN%>
        <div class = "adminMessage">
            <%=msg[:text_message]%>
        </div>
      <%elsif msg[:sent_by] == WhatsappMessage::USER%>
          <%if (msg[:message_type].to_s == WhatsappMessage::TEXT.to_s)%>
            <div class = "userMessage">
              <%=msg[:text_message]%>
            </div>
        <%elsif msg[:message_type].to_s == WhatsappMessage::IMAGE.to_s%>
          <%= image_tag msg.image.url, :class=>"wa_msg_img"%>
        <%elsif msg[:message_type].to_s == WhatsappMessage::VIDEO.to_s%>
          <%= video_tag msg.video.url, :size => "320x240", :controls => true %>
        <%elsif msg[:message_type].to_s == WhatsappMessage::VOICE.to_s%>
          <%=video_tag msg.voice.url, :size => "300x25", :controls => true%>
        <%elsif msg[:message_type].to_s == WhatsappMessage::LOCATION.to_s%>
          <%=link_to "Location", "https://maps.google.com/?q=#{msg[:location][:latitude]},#{msg[:location][:longitude]}"%>
        <%end%>
      <%end%>
      <br>
    <%end%>
  </div>
  <div id="chatMsgBox">
    <%= form_for(@new_message, :url => admin_wa_messenger_path) do |f|%>
    <%= f.hidden_field :phone, :value => @phone%>
    <div class="form-row mt-1">
      <%if @template_flag == false%>
        <div class="form-group col-md-10">
          <%=f.text_field :text_message, :class=>'form-control', :id=>'textMessage', :placeholder=>'Message'%>
        </div>
      <%else%>
        <div class="form-group col-md-10">
          <%=f.select :text_message,  [["Choose a template", 'ch'],[WhatsappMessage::CUSTOMER_BOOKING_CONFIRMATION.to_s,WhatsappMessage::CUSTOMER_BOOKING_CONFIRMATION]],{},{:id => 'str',:class=> "custom-select", :selected=>'ch'}%>
        </div>
      <%end%>
      <div class="form-group col-md-2">
        <%=f.submit "Send Message",:class=>"btn green-btn form-submit", :id=>"sendMsg"%>
      </div>
    <%end%>
    </div>
  </div>
</div>
