<%= render :partial => '/common_partial/admin_navbar'%>
<div class="adminWaChatContainer">
  <div class="adminChatBox shadow-lg p-3 bg-white rounded overflow-auto">
    <%@messages.each do |msg|%>
      <%if msg[:sent_by] == WhatsappMessage::ADMIN%>
        <div class="wa_msg_container">
          <b>Admin<br></b>
          <%if (msg[:message_type].to_s == WhatsappMessage::TEXT.to_s)%>
            <%=msg[:text_message]%>
          <%elsif msg[:message_type].to_s == WhatsappMessage::IMAGE.to_s%>
            <%= image_tag msg.image.url, :class=>"wa_msg_container wa_img"%>
          <%elsif msg[:message_type].to_s == WhatsappMessage::VIDEO.to_s%>
            <%= video_tag msg.video.url, :class=>"wa_vid", :controls => true %>
          <%elsif msg[:message_type].to_s == WhatsappMessage::VOICE.to_s%>
            <%=video_tag msg.voice.url, :size => "300x25", :controls => true%>
          <%elsif msg[:message_type].to_s == WhatsappMessage::LOCATION.to_s%>
            <%=link_to image_tag("location_tear", :class=>"locationTear"), "https://maps.google.com/?q=#{msg[:location][:latitude]},#{msg[:location][:longitude]}", target: :_blank%>
          <%elsif msg[:message_type].to_s == WhatsappMessage::DOCUMENT.to_s%>
            <embed src=<%=msg.document.url%>, width="500px" class="wa_msg_container" height="500px" />
          <%end%>
        </div>
      <%elsif msg[:sent_by] == WhatsappMessage::USER%>
        <div class="wa_msg_container user_msg">
          <b>
            <%="#{@wa_number[:first_name]}  #{@wa_number[:last_name]}"%>
            <br>
          </b>
          <%if (msg[:message_type].to_s == WhatsappMessage::TEXT.to_s)%>
              <%=msg[:text_message]%>
          <%elsif msg[:message_type].to_s == WhatsappMessage::IMAGE.to_s%>
            <%= image_tag msg.image.url, :class=>"wa_img"%>
          <%elsif msg[:message_type].to_s == WhatsappMessage::VIDEO.to_s%>
            <%= video_tag msg.video.url, :size => "320x240", :controls => true, :class=>"wa_vid" %>
          <%elsif msg[:message_type].to_s == WhatsappMessage::VOICE.to_s%>
            <%=video_tag msg.voice.url, :size => "300x25", :controls => true%>
          <%elsif msg[:message_type].to_s == WhatsappMessage::LOCATION.to_s%>
            <%=link_to image_tag("location_tear", :class=>"locationTear"), "https://maps.google.com/?q=#{msg[:location][:latitude]},#{msg[:location][:longitude]}", target: :_blank%>
          <%elsif msg[:message_type].to_s == WhatsappMessage::DOCUMENT.to_s%>
            <embed src=<%=msg.document.url%>, width="500px" height="500px" />
          <%end%>
        </div>
      <%end%>
    <%end%>
  </div>
  <div id="chatMsgBox">
    <%= form_for(@new_message, :url => admin_wa_messenger_path) do |f|%>
    <%= f.hidden_field :phone, :value => @phone%>
    <div class="form-row mt-1">
      <%if @template_flag == false%>
        <div class="form-group col-md-8">
          <%=f.text_field :text_message, :class=>'form-control', :id=>'textMessage', :placeholder=>'Message'%>
        </div>
        <div class="form-group col-md-2">
          <div class="btn-group dropup">
            <button type="button" class="btn green-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Attachment
            </button>
            <div class="dropdown-menu">
              <%=f.file_field :media, :class=>'green-btn', :placeholder => "Image", :input_html => { :value => 'text' }%>
              <%=f.text_field :location, :placeholder => "Location"%>
            </div>
          </div>
        </div>
      <%else%>
        <div class="form-group col-md-8">
          <%=f.select :text_message,  [["Choose a template", 'ch'],[WhatsappMessage::CUSTOMER_BOOKING_CONFIRMATION.to_s,WhatsappMessage::CUSTOMER_BOOKING_CONFIRMATION]],{},{:id => 'str',:class=> "custom-select", :selected=>'ch'}%>
        </div>
      <%end%>
      <div class="form-group col-md-2">
        <%=f.submit "Send Message",:class=>"btn green-btn form-submit", :id=>"sendMsg"%>
      </div>
    <%end%>
    </div>
  </div>
</div>
