<div>
  <left>
    <%=image_tag 'Travel_Empire_Logo_1.jpg', :size=> "300x100"%>
  </left>
  <div style="float: right;">
    <b>Saravanan Kumar,</b><br>
    15/12, 1st Floor, Elangoadigal Streeet,<br>
    Thiruvalluvar Nagar, Arumbakkam,<br>
    Chennai, Tamil Nadu 600106
  </div>
</div>
<br><br>
<h2>Personal Details</h2>
<br>
<table class="table">
  <tbody>
    <tr>
      <td><b>First Name</b></td>
      <td><%=@trip[:fname]%></td>
    </tr>
    <tr>
      <td><b>First Name</b></td>
      <td><%=@trip[:lname]%></td>
    </tr>
    <tr>
      <td><b>Phone</b></td>
      <td><%=@trip[:phone]%></td>
    </tr>
    <tr>
        <td><b>Email</b></td>
      <td><%=@trip[:email]%></td>
    </tr>
  </tbody>
</table>
<br>
<b><h2>Trip Details</h2></b>
<table  class="table">
  <tbody>
    <tr>
      <td><b>Booking Id</b></td>
      <td><%=@trip[:id]%></td>
    </tr>
    <tr>
      <td><b>Personal or Business</b></td>
      <td><%=Trip::TRIP_TYPE[@trip[:perbus].to_sym]%></td>
    </tr>
    <tr>
      <td><b>Type of Trip</b></td>
      <td><%=Trip::TYPE_OF_TRIP[@trip[:tot].to_sym]%></td>
    </tr>
    <tr>
      <td><b>Type of Booking</b></td>
      <td><%=@trip[:tob]%></td>
    </tr>
    <tr>
      <td><b>Type of Car</b></td>
      <td><%=@trip[:str]%></td>
    </tr>
    <tr>
      <td><b>Pick Up Location</b></td>
      <td>
        <%=@trip[:pul]%>   -   <%=@trip[:pua]%><br>
        <%if(@trip[:tot].to_sym == Trip::MULTI_WAY || @trip[:tot].to_sym == Trip::ROUND_TRIP)%>
          <%=@trip[:locs1] if(@trip[:locs1])%><br>
          <%=@trip[:locs2] if(@trip[:locs2])%><br>
          <%=@trip[:locs3] if(@trip[:locs3])%><br>
          <%=@trip[:locs4] if(@trip[:locs4])%><br>
        <%end%>
      </td>
    </tr>
    <tr>
      <td><b>Pick Up Date</b></td>
      <td><%=@trip[:put].strftime("Pickup on %a %d-%m-%y  %l:%M:%p")%></td>
    </tr>
    <tr>
      <td><b>Drop Location</b></td>
      <td><%=@trip[:drl]%>   -   <%=@trip[:dra]%></td>
    </tr>
    <%if(@trip[:tot].to_s == Trip::HOURLY.to_s)%>
      <tr>
        <td><b>No. of Hours Rented</b></td>
        <td><%=@trip[:hrt]%></td>
      </tr>
    <%else%>
      <tr>
        <td><b>Drop Date</b></td>
        <td><%=@trip[:drt].strftime("Drop on %a %d-%m-%y  %l:%M:%p")%></td>
      </tr>
    <%end%>
    <%unless @trip.driver_module.nil?%>
      <tr>
        <td><b>Authorized Person</b></td>
        <td><%=@trip.driver_module.auth_person%></td>
      </tr>
      <tr>
        <td><b>Authorized Mobile</b></td>
        <td><%=@trip.driver_module.auth_mob%></td>
      </tr>
      <tr>
        <td><b>Driver Name</b></td>
        <td><%=@trip.driver_module.dr_name%></td>
      </tr>
      <tr>
        <td><b>Driver Mobile</b></td>
        <td><%=@trip.driver_module.dr_mob%></td>
      </tr>
      <tr>
        <td><b>Driver License</b></td>
        <td><%=@trip.driver_module.lic_no%></td>
      </tr>
      <tr>
        <td><b>Car Model</b></td>
        <td><%=@trip.driver_module.car_model%></td>
      </tr>
      <tr>
        <td><b>Starting Kilometers</b></td>
        <td><%=@trip.driver_module.st_km%></td>
      </tr>
      <tr>
        <td><b>Starting Time</b></td>
        <td><%=@trip.driver_module.tr_start_time.strftime("%a %d-%m-%y  %l:%M:%p")%></td>
      </tr>
      <tr>
        <td><b>Advance Paid</b></td>
        <td><%=@trip.driver_module.advance%></td>
      </tr>
      <tr>
        <td><b>Closing Kilometers</b></td>
        <td><%=@trip.driver_module.cl_km%></td>
      </tr>
      <tr>
        <td><b>Total Toll</b></td>
        <td><%=@trip.driver_module.total_toll%></td>
      </tr>
      <tr>
        <td><b>Permits Paid</b></td>
        <td><%=@trip.driver_module.permit%></td>
      </tr>
      <tr>
        <td><b>Closing Time</b></td>
        <td><%=@trip.driver_module.cl_time.strftime("%a %d-%m-%y  %l:%M:%p")%></td>
      </tr>
    <%end%>
  </tbody>
</table>
<div style="float:left;margin-top: 5%;">
  <b>
    Signature of the Passenger
  </b>
  <br><br><br>
  __________________________________<br>
  <%="(#{@trip[:fname]} #{@trip[:lname]})"%>
</div>