<%= render :partial => 'home/navbar_files/navbar'%>
<center>
  <div id="formContainer" class="shadow-lg p-3 mb-5 bg-white rounded">
    <div id="initBtnCntnr">
      <div class="form-row mt-4">
        <div class="form-group col-md-6">
          <button type="button" id="bookCab" name="button" class="btn green-btn ">Book a Cab</button>
        </div>
        <div class="form-group col-md-6">
          <%= link_to "Make a Payment", "https://pmny.in/aIlQzaGFxaIb",:id => "makePayment", :class=> "btn green-btn"%>
        </div>
      </div>
    </div>
    <%= form_for(@trip,:as => 'trip', url: submit_trip_path(@trip)) do |f| %>
      <%=render :partial => 'home/modals/gst_details_modal.html.erb', :locals => {:f => f}%>
      <%=render :partial => 'home/modals/tot_modal.html.erb'%>
      <%=render :partial => 'home/cab_booking/per_bus', :locals => {:f => f}%>
      <%=render :partial => 'home/cab_booking/cab_booking_form', :locals => {:f => f}%>
      <%=f.submit "Book Ride", :class=>"btn ml-3 green-btn form-submit"%>
    <%end%>
    <div class="loading-gif-modal"></div>
  </div>
</center>
<script type="text/javascript" src="data/data.json"></script>
<script>
  let porb = "";
  let tor = "";
  let locs = 0;
  let json_data = JSON.stringify(data);
  let modal_texts = JSON.parse(json_data)["modaltexts"];
  let  districts_data = JSON.parse(json_data)["districts"];


  $body = $("body");
  $(document).on({
      ajaxStart: function() { $body.addClass("loading");    },
      ajaxStop: function() { $body.removeClass("loading"); }
  });


  $(document).ready(function(){
    $('#totModal').hide();
    $('.perOrBus').hide();
    $('#addLocation').hide();
    $('#flightTicket').hide();


    $('#bookCab').on('click', function(){
        $('#bookCab').hide();
        $('#makePayment').hide();
        $('.perOrBus').show();
      // $('.cabBookingForm').show();
    });

    $('#personalRadio').on('click',function(){
      $('#gst').hide();
      $('#gstLabel').hide();
      $('.cabBookingForm').show();
    });

    $('#businessRadio').on('click',function(){
      $('#gst').show();
      $('#gstLabel').show();
      $('.cabBookingForm').show();
    });


    $( "#inlineFormCustomSelect" ).change(function() {
      tor =  $(this).val();
      console.log(tor+" 1");
      switch(tor){
          case "ow":
              showModal(tor);
              $('#addLocation').hide();
              $('#toDistSelect').show();
              $('#locationSwap').show();
              $('#toAreaLabel').show();
              $('#toDistLabel').show();
              $('#toArea').show();
              $('.locations').hide();
              $('#totModal').show();
              break;
          case "rtt":
              showModal(tor);
              $('#addLocation').hide();
              $('#toDistSelect').show();
              $('#toAreaLabel').show();
              $('#locationSwap').show();
              $('.locations').hide();
              $('#toDistLabel').show();
              $('#toArea').show();
              break;
          case "rt":
              showModal(tor);
              $('.locations').show();
              $('#addLocation').show();
              $('#locationSwap').hide();
              $('#toDistSelect').hide();
              $('#toDistLabel').hide();
              $('#toAreaLabel').hide();
              $('#toArea').hide();
              break;
          case "my":
              showModal(tor);
              $('.locations').show();
              $('#addLocation').show();
              $('#locationSwap').hide();
              $('#toDistSelect').hide();
              $('#toAreaLabel').hide();
              $('#toDistLabel').hide();
              $('#toArea').hide();
              break;
          case "hy":
              showModal(tor);
              $('.locations').hide();
              $('#addLocation').hide();
              $('#locationSwap').hide();
              $('#toDistSelect').hide();
              $('#toAreaLabel').hide();
              $('#toDistLabel').hide();
              $('#toArea').hide();
              break;
        location.reload();
      }
    });

    $('#addLocation').on('click',function(){
      locs++;
      if(locs<5){
        parElem = document.getElementById('multiLocations');
        input = document.createElement("input");
        input.setAttribute('type','text');
        input.setAttribute('class',"form-control mb-3 locations");
        parElem.appendChild(input);
      }else{
        window.alert("You can add only maximum of 4 locations");
      }
    });

    for(let i=0; i<districts_data.length;i++){
      $("#fromDistSelect").append('<option value="'+districts_data[i]+'">' + districts_data[i] + '</option>');
      $("#toDistSelect").append('<option value="'+districts_data[i]+'">' + districts_data[i] + '</option>');
    }

    $('#adult,#chldrn').on('change', function(){
      var value = errorMsg();
        
    });


    function noOfPass(){
      return Number($('#adult').val())+Number($('#chldrn').val());
    }

    function errorMsg(){
      var value = noOfPass();
      var returnval = "";
      if(value > 7){
        window.alert("Number of passengers cannot be more than 7");
      }
      else if(value <= 0){
        window.alert("Number of passengers cannot be less than 0");  
      }
      else if(value > 4 && value <= 7){
        $('#4seater').hide();
        $('#7seater').show();
        $('#str').find('.str').val("7 Seater");
      }
      else if(value <=4 && value >0){
        $('#7seater').hide();
        $('#4seater').show();
        $('#str').find('.str').val("4 Seater");
      }
      return returnval;
    }

    function passValid(){
      var value = errorMsg();
      var returnvalue = false;
      if(value.length > 0){
        returnValue = true;
      }
      return ;
    }

    function showModal(tor){
      $('#totModal').on('show.bs.modal', function(event){
        var modal = $(this);
        var list_string = "<ul>";
        console.log(tor);
        modal.find('.modal-title').text(modal_texts[tor]['title']);
        for(item in modal_texts[tor]){
        if(item != "title"){
            if(item == 'red'){
                list_string += "<li class='modal-list-red'>"+modal_texts[tor][item]+"</li>"
              }
              else{
                list_string += "<li>"+modal_texts[tor][item]+"</li>"
              }
          }
        }
        list_string+="</ul>"
        modal.find('.modal-body-text').html(list_string);
        modal.find('.modal-body-image').html("<img src='/assets/"+tor+".png' class='modal-image'/>")
      });
      $('#totModal').modal('show');
    }


    $('#gst').on('change', function(e){
      var gst = $('#gst').val();
      var gst_data = "";
      if(gst.length == 15){
        getGSTDetails(gst);
      }
    });


    $('#flight').on('change', function(){
        if($('#flight').prop("checked")==true){
          $('#aadhaars').hide();
          $('#flightTicket').show();
        }
        else if($('#flight').prop("checked")==false){
          $('#aadhaars').show();
          $('#flightTicket').hide();
        }
    });

    function getGSTDetails(gst){
      $.ajax({
        type: 'GET',
        url: "https://appyflow.in/api/verifyGST",
        data: "key_secret=XYhitWS1lrhpoKhDvyNo48d7BZL2&gstNo="+gst,
        dataType: "json",
        contentType: "application/json",
        success: function(resultData){
                  if(resultData["error"]){
                    alert(resultData["message"])
                  }
                  else{
                    showGSTModal(resultData);
                  }
                },
        error: function(data){
                console.log("jqXhr error"+data.status);
              }
      });
    }

    function showGSTModal(gstData){
      debugger;  
      var data = gstData["taxpayerInfo"];
      var addr = data["pradr"]["addr"];
      var legal_name = data["lgnm"];
      var full_addr =  addr["bno"]+" "+addr["flno"]+" "+addr["st"]+" "+addr["loc"]+" "+addr["dst"]+" "+addr["stcd"]+"-"+addr["pncd"]
      $('#gstModal').on('show.bs.modal', function(){
        var modal = $(this);
        var gstInfo = "<h5>"+data["tradeNam"]+"</h5>";
        gstInfo += "<br><b>"+data["lgnm"]+"</b><br>Address:<br>"+addr["bno"]+" "+addr["flno"]+" "+addr["st"]+"<br> "+addr["loc"]+" "+addr["dst"]+"<br> "+addr["stcd"]+"-"+addr["pncd"];
        modal.find('.modal-body-text').html(gstInfo);

        //Hidden Fields for GST
        modal.find('.gst_lg_nm').val(legal_name);
        modal.find('.gst_full_addr').val(full_addr);
      });
      $('#gstModal').modal('show');
    }
  });
</script>
