<%= render :partial => 'home/navbar_files/navbar'%>
<center>
  <div id="formContainer" class="shadow-lg p-3 mb-5 bg-white rounded">
    <div id="initBtnCntnr">
      <div class="form-row mt-4">
        <div class="form-group col-md-6">
          <button type="button" id="bookCab" name="button" class="btn green-btn ">Book a Cab</button>
        </div>
        <div class="form-group col-md-6">
          <%= link_to "Make a Payment", "https://pmny.in/aIlQzaGFxaIb",:id => "makePayment", :class=> "btn green-btn"%>
        </div>
      </div>
    </div>
    <%= form_for(@trip,:as => 'trip', url: submit_trip_path(@trip)) do |f| %>
      <%=render :partial => 'home/modals/gst_details_modal.html.erb', :locals => {:f => f}%>
      <%=render :partial => 'home/modals/tot_modal.html.erb'%>
      <%=render :partial => 'home/cab_booking/per_bus', :locals => {:f => f}%>
      <%=render :partial => 'home/cab_booking/cab_booking_form', :locals => {:f => f}%>
      <%=f.submit "Book Ride", :class=>"btn ml-3 green-btn form-submit"%>
    <%end%>
    <div class="loading-gif-modal"></div>
  </div>
</center>
