<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Empire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'te-logo.ico' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <div class="bgImage">
      <script type="text/javascript" src="data/data.json"></script>
      <%= javascript_pack_tag 'trip/date_time' %>
      <%= javascript_pack_tag 'trip/districts_load'%>
      <%= javascript_pack_tag 'init_jquery'%>
      <%= javascript_pack_tag 'trip/trip_tot'%>
      <%= javascript_pack_tag 'trip/passenger'%>
      <%= javascript_pack_tag 'personal/gst_modal'%>
      <%= yield %>
    </div>
  </body>
</html>
